<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion | Cart',
    
  }) %>
    <%- include('partials/bootstrap') %>

<body>
    <%- include('partials/header') %>

    <main class="carrito_main" data-idUser="<%= locals.userLogin?.id %>">

        <div class="carrito__conteiner_rgba">
            <h2>Carrito de compras</h2>
            <section class="carrito_conteiner">

                <!-- VIEW TABLET AND DESKTO -->
                <table class="table carrito__view-tablet-desktop" style="border:2px solid rgba(94, 84, 142, 1)">
                    <thead>
                        <tr class="">
                            <th scope="col">Imagen</th>
                            <th scope="col">Nombre</th>
                            <!-- <th scope="col">Talle</th> -->
                            <th scope="col">Color</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="container-cards">
                    </tbody>
                </table>
                <!-- VIEW MOBILE -->
                <div class="carrito__view-mobile">
                    <!-- PRODUCTO 1 -->
                   <!-- ... -->
                </div>
                <!-- RESUMEN -->
                <div class="carrito__box_resumen">
                    <div class="carrito__conteiner_resumen">
                        <div class="carrito__conteiner_arti">
                            <div class="carrito_arti">
                                <p>Total de articulos:</p>
                                <h4 id="totalArticles">0</h4>
                            </div>
                            <div class="carrito_total">
                                <p>Total:</p>
                                <h4>$<span id="totalPriceOrder">0</span></h4>
                            </div>
                        </div>
                        <div class="carrito__conteiner_finCompr">
                            <a href="#"><button class="carrito__button_finCompr" type="button" onclick="confirmPurchase()">Realizar compra</button></a>
                        </div>
                        <div class="carrito__conteiner_nextTrash">
                            <a href="/">Continuar comprando</a>
                            <a onclick="clearShoppingCart()" href="#">Vaciar carro</a>
                        </div>
                    </div>
                </div>

            </section>
            <!-- CARROUSEL -->
         
                    <%- /* include('partials/details-carrousel') */ %>
       
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/carousel-swiper.js"></script>
    <script src="/js/cart.js"></script>
</body>

</html>