<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{ title : 'Footwear-Fusion | Details' , }) %>

    <body>

        <%- include('partials/header') %>

            <main class="main-detalles">
                <!-- Recorrido -->
                <nav>
                    <div class="recorrido">
                        <a href="/">Home</a>
                        <p>></p>
                        <p>Detalles</p>
                    </div>
                </nav>
                <!-- Titulo -->
                <h2 class="nombre-zapatilla"><%= product.name %></h2>
                <!-- Imagenes -->
                <div class="main-section-imagenes">
                    <div class="imagenes-detalles">
                        <div class="img-principal">
                            <img src="/img/<%= product.image || 'default-image.png' %>" class="main-img" alt="imagen">
                        </div>
                        <div class="img-otros">
                            <% for(let image of product.images) { %>
                            <img src="/img/<%= image || 'default-image.png' %>" class="views-img" alt="imagen2">
                            <% } %>
                        </div>
                    </div>
                    <!-- Especificaciones -->
                    <aside class="especificaciones">
                        <div class="card-especificaciones">
                            <!-- precio -->
                            <div class="precio">
                                <p>Precio:</p>
                                <p> $<%= product.price %></p>
                            </div>
                            <!-- Talle -->
                            <form class="talle" action="#">
                                <p>Talle:</p>
                                <label for="select"></label>
                                <select name="talle" id="select">
                                    <option disabled selected>None</option>
                                    <option value="1">36</option>
                                    <option value="2">37</option>
                                    <option value="3">38</option>
                                    <option value="4">39</option>
                                    <option value="4">40</option>
                                    <option value="4">41</option>
                                    <option value="4">42</option>
                                    <option value="4">43</option>
                                    <option value="4">44</option>
                                    <option value="4">45</option>
                                </select>
                            </form>
                            <!-- Color -->
                            <div class="color">
                                <p>Color:</p>
                                <div class="details_conteiner_colors">
                                    <img src="/img/<%= product.color  %>" class="color-1" alt="black">
                                </div>
                            </div>
                            <!-- Cantidad -->
                            <form class="cantidad" action="#">
                                <p>Cantidad:</p>
                                <div class="carrito_addProduc">
                                    <div class="carrito_sum-rest">
                                        <i class="fa-solid fa-caret-up" style="color: #000000;"></i>
                                        <i class="fa-solid fa-caret-down" style="color: #000000;"></i>
                                    </div>
                                    <input class="carrito__input_number" id="cantidad" value="1" min="1" max="20"
                                        name="cantidad" type="number">
                                </div>
                            </form>
                            <!-- Botones -->
                            <div class="carrito">
                                <a href="">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="/products/cart">Comprar</a>
                                <form action="/products/edit/<%= product.id %>">
                                    <button class="carrito_trash"><i class="fa-solid fa-pen"
                                        style="color: #e27396;"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Descripcion -->
                        <div class="descripcion-detalles">
                            <div class="card-descripcion-detalles">
                                <h4>descripcion</h4>
                                <p><%= product.description %></p>
                            </div>
                        </div>
                    </aside>
                </div>

                 <!-- CARROUSEL -->
                <%- include('partials/details-carrousel') %>
                
            </main>
            <%- include('partials/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
                <script src="/js/carousel-swiper.js"></script>
    </body>

</html>