<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion',
  }) %>


<body>

    <%- include('partials/header') %>

    <main class="home-main">
      
      <%- include('partials/home-carrousel') %>
   

        <div class="home-main-filtro">
            <button><p> FILTRO <i class="fa-solid fa-chevron-down"></i> </p></button>
            <button class="home-main-button-filtro"><p>CATEGORIA <i class="fa-solid fa-chevron-down"></p></i></button>
            <button class="home-main-button-filtro"><p>TALLE <i class="fa-solid fa-chevron-down"></i></p></button>
            <button class="home-main-button-filtro"><p>PRECIO <i class="fa-solid fa-chevron-down"></i></p></button>
        </div>

       <article class="home-main-contenedor">
  <%- include('partials/card') %>
       </article>

    </main>
    <%- include('partials/footer')  %>
    <%- include('partials/bootstrap') %>
    
</body>

</html>