<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion',
  }) %>

<body>

    <%- include('partials/header') %>

    <main class="home-main">
      
      <%- include('partials/home-carrousel') %>
      <%- include('partials/arrow-up') %>
        <div class="home-main-banner">
            <img src="/img/banner-4.jpg" class="banner-4" height="10%" alt="">
        </div>
       <article id="cartas" class="home-main-contenedor">
  <%- include('partials/card') %>
       </article>

  <%- include('partials/pagination') %>

    </main>


    <%- include('partials/footer')  %>
    <%- include('partials/bootstrap') %>
    
</body>

</html>