<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{
    title : 'Footwear-Fusion',
  }) %>

<body>

    <%- include('partials/header') %>

    <main class="home-main">
      
      <%- include('partials/home-carrousel') %>

        <div class="home-main-filtro">
            <button><p> FILTRO <i class="fa-solid fa-chevron-down"></i> </p></button>
            <button><p>CATEGORIA <i class="fa-solid fa-chevron-down"></p></i></button>
            <button><p>TALLE <i class="fa-solid fa-chevron-down"></i></p></button>
            <button><p>PRECIO <i class="fa-solid fa-chevron-down"></i></p></button>
        </div>

       <article class="home-main-contenedor">
  <%- include('partials/card') %>
       </article>

      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
      <!-- /?page=3&limit=3 -->

    </main>
    <%- include('partials/footer')  %>
    <%- include('partials/bootstrap') %>
    
</body>

</html>