<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{ title : 'Footwear-Fusion | Login' , }) %>
    <%- include('partials/bootstrap') %>

        <body>
            <%- include('partials/header') %>
                <main>
                    <div class="container">
                        <div class="row ">
                            <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
                                <div class="card mb-3 shadow-lg">
                                    <div class="card-header">
                                        <h4>PERFIL DE USUARIO</h4>
                                    </div>
                                    <div class="card-body">
                                        <form action="/users/profile?_method=PUT" method="POST" class="row">
                                            <div class="col-12 col-md-6 mb-3">
                                                <!-- Nombre -->
                                                <label for="name" class="form-label">Nombre</label>
                                                <input type="text" class="form-control" id="name" placeholder="ej: Juan"
                                                    name="name" value="<%= name %>">
                                                    <span class="ms-2 fw-bold error-login" id="msgError-name" ><%= locals.errors?.name?.msg %></span>
                                            </div>
                                            <!-- Apellido -->
                                            <div class="col-12 col-md-6 mb-3">
                                                <label for="lastName" class="form-label">Apellido</label>
                                                <input type="text" class="form-control" id="lastName"
                                                    placeholder="ej: Rodriguez" name="lastName" value="<%= lastName %>">
                                                    <span class="ms-2 fw-bold error-login" id="msgError-lastName" ><%= locals.errors?.lastName?.msg %></span>
                                            </div>
                                            <!-- Fecha de nacimiento -->
                                            <div class="col-12 col-md-6 mb-3">
                                                <label for="birthday" class="form-label">Fecha de nacimiento</label>
                                                <input type="date" class="form-control" id="birthday" name="birthday" 
                                                value="<%= moment(birthday).format('YYYY-MM-DD') %>">
                                            </div>
                                            <!-- Direccion -->
                                            <div class="col-12 col-md-6 mb-3">
                                                <label for="adress" class="form-label">Dirección</label>
                                                <input type="text" class="form-control" id="adress"
                                                    placeholder="Domicilio" name="adress" value="<%= adress %>">
                                                    <span class="ms-2 fw-bold error-login" id="msgError-adress" ><%= //locals.errors?.adress?.msg %></span>
                                            </div>
                                            <!-- Provincia -->
                                            <div class="col-12 col-md-6 mb-3">
                                                <label for="province" class="form-label">Provincia</label>
                                                <select type="text" class="form-select" id="province" name="province">
                                                    <option hidden value="">Seleccione...</option>
                                                    <% provinces.forEach(({ nombre }) => { %>
                                                        <option value="<%= nombre %>" <% if (nombre === province) { %>selected<% } %>><%= nombre %></option>
                                                    <% }) %>
                                                </select>
                                                <spam class="ms-2 fw-bold error-login" id="msgError-province"><%= /* locals.errors && (errors.province && errors.province.msg) */ %></spam>
                                            </div>
                                             <!-- Localidad -->

                                            <div class="d-flex justify-content-end gap-2">
                                                <button type="submit" class="btn btn-dark">Guardar cambios</button>
                                                <a href="/" class="btn btn-primary">Salir sin guardar</a>
                                            </div>  
                                             
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('partials/footer') %>
                <script src="/js/profile.js"></script>
        </body>

</html>