<div class="swiper mySwiper">
    <div class="carrito__conteiner_recomended">
        <h2><%= subtitleText %></h2>
    </div>
    <div class="swiper-wrapper" >
        <% products.forEach((p) => { %>
            <div class="swiper-slide">
                <a class="image_swi" href="/products/details/<%= p.id %>">
                    <img src="/img/<%= p.image || 'default-image.png' %>" alt="" width="100%"></a>
                        <div class="carrito__conteiner_prec-title-carousel">
                            <h4>$<%= p.price %></h4>
                            <p><%= p.name %></p>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <% }) %>
    </div>
</div>

